<h1>{{ name }}</h1>
<h3>Products</h3>
<div class="d-flex justify-content-center">
</div>
<table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of response.data.products">
            <td>{{ x.productName }}</td>
            <td>{{ x.price }}</td>
            <td><button (click)="additemtoCart(x.id, x.price)">+1</button></td>
            <td>{{ cart.get(x.id) }}</td>
            <td *ngIf="cart.has(x.id)"><button (click)="removeitemfromCart(x.id, x.price)">-1</button></td>
        </tr>
    </tbody>
  </table>
  <div *ngIf="cartisnotEmpty()">
    <button [routerLink]="['/cart', response.data.name, cost]">Go to cart!</button>
  </div>
  <div *ngIf="cartisnotEmpty()">
    <button (click)="emptyCart()">Empty cart!</button>
  </div>
  <div>
    <button [routerLink]="['/userhome']">Go back!</button>
  </div>
