<h1>Products</h1>
<div class="d-flex justify-content-center">
</div>
<table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of response.data.products">
            <td>{{ x.productName }}</td>
            <td>{{ x.price }}</td>
            <td><button (click)="additemtoCart(x.id)">+</button></td>
            <td><button (click)="removeitemfromCart(x.id)">-</button></td>
        </tr>
    </tbody>
  </table>
  <div>
    <a [routerLink]="['/cart', response.data.name]">Go to cart!</a>
  </div>
