<h1>Cart</h1>
<div class="d-flex justify-content-center">
</div>
<h3>{{ store.data.name }}</h3>
<table class="table" id='tab'>
  <thead>
    <tr>
      <th scope="col">Product name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody *ngFor="let x of store.data.products">
    <tr *ngIf="show(x)">
      <td>{{ x.productName }}</td>
      <td>{{ cart.get(x.id) }}</td>
      <td>{{ cart.get(x.id)*(x.price) }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="cartisnotEmpty()">Total cost is {{ cost }}!</div>
<div>
  <button>Proceed!</button>
</div>
<div>
  <button [routerLink]="['/menu', name]">Go back!</button>
</div>
