<mat-toolbar color="primary">
  <span>Account details</span>
  <span class="example-spacer"></span>
  <button mat-raised-button="warn"></button>
</mat-toolbar>
<div class="d-flex justify-content-center">
</div>
<table class="table" id='tab'>
  <thead>
      <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Phone number</th>
          <th scope="col">Age</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
      </tr>
  </thead>
  <tbody>
    <td>{{ account.data.username }}</td>
    <td>{{ account.data.email }}</td>
    <td>{{ account.data.phoneNumber }}</td>
    <td>{{ account.data.age }}</td>
    <td>{{ account.data.address }}</td>
    <td>{{ account.data.city }}</td>
  </tbody>
</table>
  <div>
    <th scope="col">Placed orders</th>
  </div>
  <table class="table" id='tab'>
    <thead>
        <tr>
            <th scope="col">Order id</th>
            <th scope="col">Store</th>
            <!--<th scope="col">Products</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>-->
            <th scope="col">Total cost</th>
        </tr>
    </thead>
    <tbody *ngFor="let data of orders.data">
      <td>{{ data.id }}</td>
      <td>{{ data.store.name }}</td>
      <!--<td *ngFor="let pr of data.orderItems">{{ pr.product.productName }}</td>
      <td *ngFor="let pr of data.orderItems">{{ pr.quantity }}</td>
      <td *ngFor="let pr of data.orderItems">{{ pr.price }}</td>-->
      <td>{{ data.cost }}</td>
    </tbody>
  </table>
  <section>
    <div class="example-button-row">
      <button [routerLink]="['/userhome']" mat-raised-button color="primary">Go back!</button>
    </div>
  </section>
