<mat-toolbar color="primary">
  <span class="example-spacer">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <a [routerLink]="['/login']"><button class="btn btn-primary" > Login </button></a>
  </button>
  </span>
  <span class="example-spacer">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       <a [routerLink]="['/register']"><button class="btn btn-primary" > Register </button></a>
    </button>
  </span>
  <span class="example-spacer">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       <a [routerLink]="['/userhome']"><button class="btn btn-primary" > Go directly to userhome! </button></a>
    </button>
  </span>
</mat-toolbar>
